.about {
  background: #7f51c8;
  margin-top: 32px;
  padding: 24px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about > div {
<<<<<<< HEAD
  margin-top: 16px;
  min-width: 200px;
  color: white;
}
.about > div > a {
=======
  min-width: 200px;
  min-height: 200px;
>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
  color: white;
}
