.features {
  padding: 16px;
<<<<<<< HEAD
=======
  margin-top: 32px;
>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
  background: #f4f7fc;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
