.footer {
  background-color: rgb(0, 0, 45);
  color: white;
  /*distance of the footer from the feature conatiner*/
<<<<<<< HEAD
  display: grid;
  place-items: center;
  padding-top: 32px;
}

.footer > div {
  display: flex;
  flex-wrap: wrap;
}
.footer > div > div {
  min-width: 200px;
  margin: 10px auto;
  text-align: center;
}
.footer h5 {
  font-weight: 600;
}
.footer a {
  color: white;
}
.follow__links {
  display: flex;
  justify-content: center;
=======
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  text-align: center;
  padding: 16px;
}

.footer > div {
  min-width: 200px;
  text-align: center;
  margin-top: 8px;
}
.footer div ul li {
  margin-top: 8px;
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
hr {
  display: none;
}

footer h5 {
  color: #fff;
  padding-bottom: 25px;
}
footer a {
  color: #ddd;
>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
}
