body {
  margin: 0;
  padding: 0;
}

ul {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  list-style: none;
=======
  list-style: none;
}

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

ul {
  margin: 0;
  padding: 0;
>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
}
.header-content {
  display: flex;
  /*this allows the content to be displayed downwards and not sideways*/
<<<<<<< HEAD
  flex-direction: column;
  /*the content is on the left and not spread out across the screen including the button*/
  align-items: flex-start;
  /*this allows the content to be placed right in the centre and not upwards*/
=======

  flex-direction: column;
  /*the content is on the left and not spread out across the screen including the button*/

  align-items: flex-start;
  /*this allows the content to be placed right in the centre and not upwards*/

>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
  justify-content: center;
  height: 50vh;
  margin: auto;
  padding: 20px;
  /*the text is allowed to move to the right*/
<<<<<<< HEAD
=======

>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
  text-align: right;
  background-color: #eefbfb;
}

.header-content button {
  background-color: #4079fa;
  margin-top: 16px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 11px 34px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
<<<<<<< HEAD
  border: none !important;
}

button:focus,
button:focus,
[type="submit"]:focus {
  outline: none;
}

.MuiTab-textColorPrimary.Mui-selected {
  outline: none !important;
=======
  border: none;
>>>>>>> cfa0e94fb6fd0cf2aab43a009068b3b1e650da4b
}
